*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.cache
.cache/
.env*
.eslintcache
.next
.npm
.pnp.*
.tern-port
.vscode-test
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
build/Release
coverage/
dist/
logs
node_modules/
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/chakra-icons/data/
